{% extends "base.html" %} {% block title %}Visualization{% endblock %} {% block content %}

<body style="background-color: #f5f5f5">
    <div style="text-align: center;">
        <img src="./static/plot.png" alt="chart" width="75%" height="75%">
    </div>

    <div style="text-align: center;">
        <img src="./static/plot2.png" alt="chart" width="90%" height="90%">
    </div>

    <div style="text-align: center;">
        <img src="./static/plot3.png" alt="chart" width="90%" height="90%">
    </div>
</body>

{% endblock %}